@tailwind base;
@tailwind components;
@tailwind utilities;


body input {
  @apply outline-none
}

.OptionButtonStyle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 400%;
  background-color: rgb(239, 102, 34);
  transition: width 0.5s ease-in-out;
  transform: rotate(40deg);
}

.OptionButtonStyle:hover::before {
  width: 200%;
}